extends:
  - "eslint-config-airbnb"
  - "eslint-config-prettier"
  - "plugin:@typescript-eslint/recommended"

parser: "@typescript-eslint/parser"

plugins:
  - "@typescript-eslint"

settings:
  ecmascript: 6

env:
  browser: true

rules:
  class-methods-use-this: 0
  func-names: 0
  new-cap: 0
  no-plusplus: 0
  no-return-assign: 0
  react/jsx-props-no-spreading: 0
  react/forbid-prop-types: 0
  react/jsx-filename-extension: 0
  react/jsx-boolean-value: 0
  react/prefer-stateless-function: 0
  import/extensions: 0
  import/no-extraneous-dependencies: 0
  import/no-unresolved: 0
  import/prefer-default-export: 0
