.DS_STORE
node_modules
dist
.module-cache
*.log*
_nogit
lib
dist-docs

# Yarn Gitignores (https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
