body {
  background: #fdfdfd;
}

a,
a:active,
a:visited,
a:focus {
  color: #e9463f;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #111;
  border-bottom-color: #111;
}

h2 {
  margin-top: 1.5em;
  color: #e9463f;
}

h3,
h4 {
  margin: 4em 0 1em;
  font-weight: 500;
  color: #333;
}

.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 0;
}

.content {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 840px;
}

.buttons button {
  margin-right: 5px;
  transition: all 0.1s;
  background: #111;
  cursor: pointer;
}

.buttons button:hover {
  background: darken(#e9463f, 20);
}

.buttons button:focus {
  outline: none;
}

.buttons button:focus-visible {
  outline: 1px solid #333;
  outline-offset: 2px;
}

.demo-content {
  padding: 20px 20px 0;
  background: #fff;
}

.demo {
  outline: 2px solid #ddd;
}

.demo-3-content {
  padding: 20px;
}

.demo-3-image {
  display: block;
}

.demo-4 {
  margin-bottom: 100px;
}

.demo-4-wrapper {
  height: 500px;
}

.btn-selected {
  position: relative;
}

.btn-selected::before {
  content: '▼';
  color: black;
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
}
